body{
  overflow-x: hidden;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg.jpg');
  background-size:cover;
  background-position: center;
}

.large-page {
  position: relative;
  width: 100vw;
  height: 200vh;
  background-image: url('../images/bg.jpg');
  background-size:cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.logo {
  width: 350px; /* Adjust the width as needed */
  margin-bottom: 1rem;
}
.niab-logo {
  width: 100px;
}

.form {
  width: 300px; /* Adjust the width as needed */
}

@media (max-width: 500px) {
  .large-page {
    height: 100vh;
  }
}

/* maijn page  */

.main-logo {
  width: 150px; /* Adjust the logo size as needed */
}

